@use "abstracts/mixin";
@use "abstracts/variable";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* Elements
-------------------------------------------------------------- */

html {
    margin-right: 0 !important;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: variable.$font-main;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    background-color: var(--white);
    font-style: normal;
    color: var(--gray);
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary);
        border-radius: 5px;
        cursor: grab;
    }

    &.no-scroll {
        overflow: hidden;
    }
}

img {
    max-width: 100%;
    height: auto;
    transform: scale(1);
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

.row {
    margin-right: -15px;
    margin-left: -15px;

    >* {
        padding-left: 15px;
        padding-right: 15px;
    }
}

ul,
li {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.container {
    max-width: 1520px;
    padding-right: 15px;
    padding-left: 15px;
}

.container-full {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}

svg path {
    @include mixin.transition3();
}

// form //

textarea {
    resize: none;
}

select {
    outline: 0;
}

/* Placeholder color */
::-webkit-input-placeholder {
    color: var(--text-3);
}

:-moz-placeholder {
    color: var(--text-3);
}

::-moz-placeholder {
    color: var(--text-3);
    opacity: 1;
}

button:focus-within,
button:focus-visible,
button:focus {
    outline: none;
}

/* Since FF19 lowers the opacity of the placeholder by default */

:-ms-input-placeholder {
    color: var(--secondary-2);
}

/* Typography
-------------------------------------------------------------- */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: variable.$font-main;
    text-rendering: optimizeLegibility;
    color: var(--grey-1);
    font-weight: 500;
    margin-bottom: 0;
}

h1,
.h1 {
    font-size: 60px;
    line-height: 80px;
}

h2,
.h2 {
    font-size: 50px;
    line-height: 61px;
}

h3,
.h3 {
    font-size: 40px;
    line-height: 60px;
}

h4,
.h4 {
    font-size: 30px;
    line-height: 36px;
}

h5,
.main-title,
.title-normal {
    font-size: 22px;
    line-height: 25px;
}

h6,
.product-title {
    font-size: 18px;
    line-height: 24px;
}

.text-xl {
    font-size: 48px;
    line-height: 50px;
}

.main-title-2 {
    font-size: 25px;
    line-height: 38px;
}

.main-title-3 {
    font-size: 24px;
    line-height: 33px;
}

.product-title-2 {
    font-size: 18px;
    line-height: 27px;
}

.price-text {
    font-size: 20px;
    line-height: 22px;
}

.price-text-2 {
    font-size: 19px;
    line-height: 29px;

}

.title-sidebar {
    font-size: 16px;
    line-height: 18px;
}

.title-sidebar-2 {
    font-size: 16px;
    line-height: 24px;
}

.body-md-2 {
    font-size: 14px;
    line-height: 22px;
}

.body-text-3 {
    font-size: 14px;
    line-height: 20px;
}

.body-small {
    font-size: 13px;
    line-height: 25px;
}


.caption {
    font-size: 12px;
    line-height: 22px;
}

.small-text {
    font-size: 10px;
    line-height: 15px;
}

.font-main {
    font-family: variable.$font-main;
}

.font-2 {
    font-family: variable.$font-2;
}

.font-3 {
    font-family: variable.$font-3;
}

.font-4 {
    font-family: variable.$font-4;
}

.font-5 {
    font-family: variable.$font-5;
}

b,
strong {
    font-weight: bolder;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// color
.text-main {
    color: var(--gray) !important;
}

.text-main-2 {
    color: var(--gray-2);
}

.text-main-4 {
    color: var(--gray-4) !important;
}


.text-cl-1 {
    color: var(--text);
}

.text-cl-2 {
    color: var(--text-2);
}

.text-cl-3 {
    color: var(--text-3);
}

.text-cl-4 {
    color: var(--text-4);
}

.text-cl-5 {
    color: var(--text-5);
}

.text-cl-7 {
    color: var(--text-7);
}

.text-primary {
    color: var(--primary) !important;
}

.text-primary-2 {
    color: var(--primary-2) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-third {
    color: var(--third) !important;
}

.text-third-2 {
    color: var(--third-2) !important;
}

.text-third-3 {
    color: var(--third-3) !important;
}

.text-third-4 {
    color: var(--third-4) !important;
}

.text-price {
    color: var(--price) !important;
}

a {
    @include mixin.transition3;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    color: var(--gray);

    &:focus,
    &:hover {
        @include mixin.transition3;
        text-decoration: none;
        outline: 0;
    }
}


.link {
    @include mixin.transition3;

    &:hover {
        color: var(--primary) !important;
    }


}

.link-svg {

    svg,
    path {
        @include mixin.transition3;
    }

    &:hover {

        svg,
        path {
            stroke: var(--primary);
        }
    }
}

.link-fill {

    svg,
    path {
        @include mixin.transition3;
        stroke: unset !important;
    }

    &:hover {

        path {
            fill: var(--primary);
        }
    }
}

.link-svg-fill {

    svg,
    path {
        @include mixin.transition3;
    }

    &:hover {

        path {
            stroke: var(--primary);
            fill: var(--primary);
        }
    }
}

.link-secondary {
    @include mixin.transition3;

    &:hover {
        color: var(--secondary) !important;
    }
}

.link-main {
    @include mixin.transition3;

    &:hover {
        color: var(--gray) !important;
    }
}

.line {
    border: 1px solid var(--line);
}

.line-2 {
    border: 1px solid var(--line-2);
}

.line-bt {
    border-bottom: 1px solid var(--gray-5) !important;
}

.line-bt-2 {
    border-bottom: 1px solid #FFFFFF0F !important;
}

.line-tp {
    border-top: 1px solid var(--gray-5) !important;
}

// gap
.gap-36 {
    gap: 36px;
}

.gap-12 {
    gap: 12px !important;
}

.gap-30 {
    gap: 30px;
}

.gap-10 {
    gap: 10px !important;
}

.gap-8 {
    gap: 8px !important;
}

// padding
.px_15 {
    padding-left: 15px;
    padding-right: 15px;
}

.py-4 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.pt-24 {
    padding-top: 24px;
}

.box-center {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

// margin
// padding

[data-grid="grid-1"] {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
}

[data-grid="grid-2"] {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}

[data-grid="grid-3"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

[data-grid="grid-4"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

[data-grid="grid-5"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
}

[data-grid="grid-6"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(6, 1fr);
}

[data-grid="grid-7"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(7, 1fr);
}

.tf-row-flex {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 30px;
}

.tf-grid-layout {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;

    &.tf-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    &.tf-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &.tf-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    &.tf-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    &.tf-col-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    &.tf-col-7 {
        grid-template-columns: repeat(7, 1fr);
    }

    .wg-pagination {
        grid-column: 1 / -1;
        width: 100%;
    }

    .wd-load {
        grid-column: 1 / -1;
    }
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-auto {
    cursor: auto;
}

.text-highlight {
    -webkit-text-stroke: 1px #000;
    color: transparent !important;
    flex-direction: row-reverse;
}

.text-line-clamp-1 {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.text-line-clamp-2 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.text-line-clamp-3 {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}



.text-line-clamp-4 {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.aspect-ratio-1 {
    aspect-ratio: 1/1;
}

.aspect-ratio-0 {
    aspect-ratio: 0 !important;
}

.initial-child-container {
    flex: 0 0 auto;
    display: flex;
    min-width: auto;
    flex-direction: row;
    align-items: center;
}

.line-top-container {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        background-color: var(--line);
        height: 1px;
        width: 100%;
        max-width: 1320px;
        transform: translateX(-50%);
    }
}

.line-bottom-container {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        background-color: var(--line);
        height: 1px;
        width: 100%;
        max-width: 1320px;
        transform: translateX(-50%);
    }
}

// Scroll Top
#scroll-top {
    position: fixed;
    display: block;
    width: 48px;
    height: 48px;
    line-height: 50px;
    border-radius: 4px;
    z-index: 1;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    overflow: hidden;
    z-index: 100;
    background-color: var(--dark);
    border: 0;
    bottom: 92px;
    right: 20px;
    padding: 0;
    @include mixin.flex(center, center);
    @include mixin.transition3;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &.type-1 {
        bottom: 140px;
    }

    &:hover {
        transform: translateY(-5px);
        background-color: var(--primary);
    }
}

/* Preload 
------------------------------------------- */

.preload-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999999999;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 3px solid transparent;
    border-top: 3px solid var(--gray);
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

// spacing

.tf-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fs-8 {
    font-size: 8px !important;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-42 {
    font-size: 42px !important;
}

.lh-19 {
    line-height: 19px !important;
}

.lh-20 {
    line-height: 20px !important;
}

.lh-24 {
    line-height: 24px !important;
}

.lh-26 {
    line-height: 26px !important;
}

.lh-12 {
    line-height: 12px !important;
}

.lh-14 {
    line-height: 14px !important;
}

.lh-15 {
    line-height: 15px !important;
}

.lh-16 {
    line-height: 16px !important;
}

.radius-16 {
    border-radius: 16px !important;
}

.radius-8 {
    border-radius: 8px !important;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute;
}

#goTop {
    position: fixed;
    padding: 0;
    bottom: 90px;
    right: 40px;
    width: 38px;
    height: 38px;
    background: var(--white);
    color: black;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    box-shadow: 0px 4px 20px 0px #0000001a;
    z-index: 1000;
    @include mixin.flex(center, center);

    .border-progress {
        position: absolute;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        border-radius: 3px;
        border: 1px solid #000000;
        mask-image: conic-gradient(#000000 var(--progress-angle, 0deg),
                transparent 0);
        -webkit-mask-image: conic-gradient(#000000 var(--progress-angle, 0deg),
                transparent 0);
        content: "";
        z-index: 1;
        @include mixin.transition3;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }

    .icon {
        font-size: 12px;
        @include mixin.transition3;
    }

    .icon-arrow-right {
        transform: rotate(-90deg);
    }
}

// Personal
.simpleParallax {
    height: 100%;
    width: 100%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.bg-3 {
    background-color: var(--bg-3) !important;
}

.bg-line {
    background-color: var(--line);
}

.bg-line-3 {
    background-color: var(--line-3);
}

.bg-gray {
    background-color: var(--gray) !important;
}

.bg-gray-2 {
    background-color: var(--gray-2) !important;
}

.bg-gray-5 {
    background-color: var(--gray-5) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.br-line {
    display: inline-flex;
    width: 100%;
    height: 1px;

    &.type-vertical {
        height: 16px;
        width: 1px;

        &.h23 {
            height: 23px;
        }
    }
}

.tf-sp-1 {
    padding-top: 20px;
    padding-bottom: 50px;
}

.tf-sp-2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.tf-sp-3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.tf-sp-4 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.tf-sp-5 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.tf-sp-6 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.tf-sp-7 {
    padding-top: 30px;
    padding-bottom: 50px;
}

.progress {
    height: 6px;
    border-radius: 999px;

    .progress-bar {
        border-radius: 999px;
        background-color: var(--primary);

    }

    &.style-2 {
        height: 9px;
        border-radius: 50px;

        .progress-bar {
            border-radius: 50px;

        }
    }

    &.style-3 {
        height: 12px;
        border-radius: 8px;

        .progress-bar {
            border-radius: 8px;

        }
    }
}

.sticky-top {
    z-index: 50;
    top: 15px;
}

.cs-pointer {
    cursor: pointer;
}

.z-4 {
    z-index: 4;
}

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.aspect-unset {
    aspect-ratio: unset !important;
}

.w-max-content {
    width: max-content !important;
}

.fw-1 {
    font-weight: 100;
}

.fw-2 {
    font-weight: 200;
}

.fw-3 {
    font-weight: 300 !important;
}

.fw-8 {
    font-weight: 800;
}

.fw-9 {
    font-weight: 900;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-14 {
    margin-bottom: 14px !important;
}

.mb-6 {
    margin-bottom: 6px !important;
}

.mw-unset {
    max-width: unset !important;
}

.flat-container {
    max-width: 1490px;
    width: 100%;
    margin: auto;
    padding: 15px;
    border-radius: 8px;
}

.m-h-300 {
    min-height: 300px;
}

.letter-sp-s1 {
    letter-spacing: 10.8px;
}

.pb-8 {
    padding-bottom: 8px !important;
}

.pst-unset {
    position: unset !important;
}

.text-delivered {
    color: #008a00;
}

.text-on-the-way {
    color: #ff4848;
}