@use "abstracts/mixin";
@use "abstracts/variable";

.breakcrumbs {
  display: flex;
  align-items: center;
  gap: 0px 10px;
  flex-wrap: wrap;

  i {
    font-size: 10px;
  }
}

.s-breakcrumbs-page {
  padding-top: 20px;
  padding-bottom: 50px;
}

.flat-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--gray-5);
}

.flat-title-has-icon {
  display: flex;
  align-items: center;
  gap: 9px;

  .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--white);
    @include mixin.flex(center, center);

    i {
      font-size: 20px;
    }
  }
}

.flat-title-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 30px;

  .box-title {
    display: grid;
    gap: 10px;
  }
}

.parallax-image {
  height: 410px;
}

.s-search-faq {
  position: relative;

  .parallax-image {
    height: 350px;
  }

  .content {
    display: grid;
    gap: 10px;
  }

  .box-title {
    display: grid;
    gap: 30px;
  }

  .wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 2;
  }

  .form-search-3 {
    max-width: 540px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.s-faq {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;

  .flat-title-tab-faq {
    width: 100%;
  }

  .wrap {
    width: 100%;
  }
}

.s-shoping-cart {
  .cart-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 24px;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--gray-5);
    gap: 15px;
  }

  .box-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;

    .tf-btn {
      width: 100%;
    }
  }

  .form-discount {
    margin-bottom: 20px;
  }
}

.tf-checkout-wrap {
  .page-checkout {
    display: grid;
    gap: 40px;
  }

  .title {
    margin-bottom: 20px;

    &.has-account {
      max-width: 702px;
      width: 100%;
      @include mixin.flex(center, space-between);
    }
  }
}

.s-track-order {
  .parallax-image {
    height: 585px;
    border-radius: 8px;
    overflow: hidden;
  }

  .content {
    position: relative;
  }

  .wrap {
    display: grid;
    gap: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    right: 15px;
  }

  .box-title {
    display: grid;
    gap: 10px;
  }

  .form-trackorder {
    gap: 18px;

    fieldset {
      label {
        margin-bottom: 5px;
      }
    }
  }
}

.box-sale-wrap {
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 50%;
  background-color: var(--primary);
  width: 50px;
  height: 50px;
  @include mixin.flex(center, center);
  flex-direction: column;

  p {
    color: var(--white);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-family: variable.$font-2;
  }

  &.pst-default {
    top: 15px;
    left: 15px;
  }

  &.type-2 {
    width: 56px;
    height: 56px;
  }

  &.type-3 {
    width: 100px;
    height: 100px;
  }

  &.relative {
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
  }

  &.style-2 {
    border-radius: 8px;
    top: unset;
    bottom: 0;
    left: 0;
    width: 100px;
  }
}

.cls-category {
  .img-box {
    border-radius: 8px;
  }

  &.style-abs {
    position: relative;

    .content {
      position: absolute;
      left: 15px;
      bottom: 20px;
      display: grid;
      gap: 10px;
    }

    &.abs-2 {
      .content {
        left: 15px;
        right: 15px;
        bottom: 15px;
      }

      .box-btn {
        .tf-btn {
          max-width: 148px;
          width: 100%;
        }
      }
    }
  }
}

.has-bg-img {
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-image-product {
  padding: 60px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .img-2 {
    max-width: 497px;
  }

  .content {
    display: grid;
    gap: 10px;

    .box-title {
      display: grid;
      gap: 15px;
    }
  }

  &.style-abs {
    position: relative;
    border-radius: 8px;
    overflow: hidden;

    > * {
      width: 100%;
    }

    .img-box {
      min-height: 300px;
    }

    .content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
      right: 15px;
    }

    &.type-abs-2 {
      .content {
        gap: 15px;
      }

      .box-title {
        gap: 19px;
      }

      img {
        min-height: 300px;
      }

      .box-btn {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;

        .price {
          display: flex;
          align-items: flex-start;

          span {
            font-size: 15px;
            line-height: 30px;
          }
        }
      }
    }
  }

  .img-item {
    position: absolute;
    top: 38px;
    bottom: 24px;
    right: 74px;
    left: 37%;
    display: flex;

    img {
      width: 100%;
      max-width: 671px;
    }
  }
}

.banner-image-product-2 {
  padding: 20px 0px;
  position: relative;

  .inner {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
  }

  .item-banner {
    padding: 50px 30px;
    border-radius: 8px;
  }

  .item-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;

    &.item-2 {
      right: 30%;
    }
  }

  &.type-sp-2 {
    padding: 14px 0px;

    .inner {
      gap: 15px;
    }

    .item-banner {
      padding: 51px 23px;
    }
  }
}

.banner-image-product-3 {
  position: relative;
  width: 100%;

  .wrap {
    position: relative;
  }

  .image {
    display: inline-flex;
    border-radius: 8px;
    overflow: hidden;
  }

  .img-item {
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 20%;
    left: 50%;
  }

  .box-title {
    display: grid;
    gap: 7px;
  }

  .content {
    position: absolute;
    bottom: 12px;
    left: 26px;
    right: 26px;
    display: grid;
    gap: 11px;
  }

  &.style-2 {
    .content {
      gap: 24px;
      top: 50px;
      bottom: 80px;
    }
  }
}

.wg-cls {
  position: relative;

  &.type-abs {
    .content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
    }
  }
}

.s-banner-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  .wrap-item-1 {
    width: 100%;
  }

  .wrap-item-2 {
    width: 100%;

    .img-box {
      height: 100%;
    }
  }

  .wrap-item-3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    > * {
      width: 100%;
    }
  }
}

.grid-cls {
  display: grid;
  gap: 30px;

  .grid-item1 {
    grid-area: aa;
  }

  .grid-item2 {
    grid-area: bb;
  }

  .grid-item3 {
    grid-area: cc;
  }

  .grid-item4 {
    grid-area: dd;
  }

  .grid-item5 {
    grid-area: ee;
  }

  .grid-item6 {
    grid-area: ff;
  }

  .grid-item7 {
    grid-area: gg;
  }

  &.grid-cls-v2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &.grid-cls-v3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &.grid-cls-v4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &.grid-cls-v5 {
    display: unset;
  }
}

.banner-product {
  display: flex;
  align-items: center;
  gap: 20px 50px;
  padding: 50px 0px;
  flex-wrap: wrap;

  &.style-2 {
    gap: 20px 30px;
  }

  .product-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    flex-wrap: wrap-reverse;
  }

  .box-title {
    display: grid;
    gap: 16px;
  }

  .info-product {
    display: grid;
    gap: 8px;
  }

  .other-item {
    display: flex;
    gap: 20px;
    flex-direction: column;

    .card-product {
      padding: 10px;

      .card-product-wrapper {
        max-width: 144px;
      }
    }
  }

  &.style-2 {
    .product-wrap {
      gap: 15px 0px;

      .item-product {
        margin-top: -74px;
        margin-bottom: -98px;
        pointer-events: none;
      }
    }
  }

  &.style-3 {
    justify-content: space-between;
    gap: 30px;

    .other-item {
      gap: 10px;
    }

    .product-wrap {
      flex-direction: column;
      align-items: start;
      gap: 15px;
      width: auto;
    }

    .content {
      display: grid;
      gap: 15px;
    }
  }
}

.banner-product-2 {
  position: relative;

  .image {
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .box-bottom {
    display: grid;
    gap: 9px;
  }

  .box-price {
    display: flex;
    gap: 2px;

    .text {
      padding-top: 7px;
    }
  }
}

.banner-product-2 {
  .content {
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
  }
}

.slider-wrap {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;

  &.style-2 {
    align-items: unset;
  }
}

.cls-product {
  border-radius: 8px;
}

.cls-product {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;

  .content {
    display: grid;
    gap: 15px;
  }

  .box-title {
    display: grid;
    gap: 5px;
  }

  &.style-2 {
    .content {
      gap: 12px;
    }

    .box-price {
      > p {
        display: flex;
        align-items: flex-start;
        gap: 6px;

        .text {
          padding-top: 10px;
        }
      }
    }
  }
}

.banner-slide-product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 40px;
  border-radius: 8px;
  width: 100%;

  .image {
    display: inline-flex;
    max-width: 397px;
    width: 100%;
  }

  .content {
    display: grid;
    gap: 15px;

    .br-line {
      max-width: 368px;
      width: 100%;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 53.13%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }

  .property-list {
    display: flex;
    gap: 30px;

    li {
      display: grid;
      position: relative;
      gap: 10px;

      &:not(:last-child) {
        &::after {
          content: "";
          position: absolute;
          right: -14px;
          top: 0;
          bottom: 0;
          width: 1px;
          background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0) 0%,
            #ffffff 53.13%,
            rgba(255, 255, 255, 0) 100%
          );
        }
      }
    }

    .box-infor {
      display: grid;
      gap: 6px;
    }
  }
}

.slide-wrap-2 {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  .wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .cls-product {
      width: 100%;
    }
  }
}

.wg-cls-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 13px 10px;
  text-align: center;

  .image {
    position: relative;
    max-width: 74px;
    width: 100%;
  }

  .tf-overlay {
    border-radius: 50%;
    background-color: #f3f3f3;
  }
}

// res

.slider-category {
  .swiper-slide {
    height: auto;

    > * {
      height: 100%;
    }

    &:first-child {
      .wg-cls-2 {
        border-left: 1px solid var(--gray-5);
      }
    }

    .wg-cls-2 {
      border: 1px solid var(--gray-5);
      border-left: unset;
    }
  }
}

.tf-brand {
  padding: 25px 0px;
  gap: 30px;

  &.type-sp-2 {
    padding: 38px 0px;
  }
}

.brand-item {
  @include mixin.transition3;
  opacity: 1;

  &:hover {
    opacity: 0.5;
  }
}

.brand-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  li {
    aspect-ratio: 133/80;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--gray-6);

    &:nth-child(1) {
      padding-top: 0;
      padding-left: 0px;
    }

    &:nth-child(2) {
      padding-top: 0;
      padding-right: 0px;
    }

    &:nth-child(odd) {
      padding-right: 10px;
      border-right: 1px solid var(--gray-6);
    }

    &:nth-child(even) {
      padding-left: 8px;
    }

    &:nth-last-child(1) {
      padding-right: 0;
      padding-bottom: 0px;
      border-bottom: unset;
    }

    &:nth-last-child(2) {
      padding-left: 0;
      padding-bottom: 0px;
      border-bottom: unset;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
  }
}

.s-banner {
  .content-banner {
    display: grid;
    gap: 10px;
    padding: 50px 0px;
  }

  &.style-2 {
    .content-banner {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &:not(.style-2) {
    .card-product {
      box-shadow: 0px 9px 30px 0px #00000014;
    }
  }
}

.banner-countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  flex-wrap: wrap;

  .content {
    display: grid;
    gap: 30px;
  }

  .box-title {
    display: grid;
    gap: 12px;
  }

  .bottom {
    display: grid;
    gap: 10px;
  }
}

.main-page {
  max-width: 1570px;
  margin: auto;
}

.tf-grid-product {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.wg-404 {
  h1 {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 15px;
  }

  .notice {
    margin-bottom: 30px;
  }
}

.wg-map {
  padding-bottom: 167px;
  position: relative;

  .bottom {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 15px;
    z-index: 5;
    pointer-events: none;
  }

  .contact-wrap {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px #0000001a;
    background-color: var(--white);
    display: grid;
    gap: 30px;
    pointer-events: all;

    .box-title {
      display: grid;
      gap: 10px;
    }
  }

  .contact-info {
    padding: 15px;
    display: grid;
    gap: 20px;
    pointer-events: all;
  }

  .info-list {
    display: flex;
    align-items: flex-start;
    gap: 5px 15px;
    flex-wrap: wrap;

    li {
      display: flex;
      align-items: flex-start;
      gap: 15px;

      .icon {
        font-size: 16px;
        margin-top: 4px;
        padding-right: 8px;
        border-right: 1px solid #4f4f4f;
        display: flex;
      }
    }
  }

  .form-contact {
    flex-direction: column;
    display: flex;
    gap: 18px;

    fieldset {
      input {
        padding: 11px 10px 11px 14px;
      }
    }
  }
}

.checkout-status {
  .checkout-wrap {
    display: flex;
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
  }

  .checkout-bar {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 999px;
    background-color: var(--gray-5);
    position: absolute;
    top: 22px;
    left: 0;
    z-index: 0;

    &::after {
      content: "";
      position: absolute;
      height: 4px;
      left: 0;
      top: 0;
      background-color: var(--primary);
      border-radius: 999px;
    }

    &.first {
      &::after {
        width: calc(calc(100% / 3) / 2);
      }
    }

    &.next {
      &::after {
        width: calc(100% / 2);
      }
    }

    &.end {
      &::after {
        width: 100%;
      }
    }
  }

  .icon {
    @include mixin.flex(center, center);
    border-radius: 50%;
    background-color: var(--primary);
    width: 48px;
    height: 48px;
    color: var(--white);

    i {
      font-size: 24px;
    }
  }

  .step-payment {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: calc(100% / 3);
    position: relative;
    z-index: 2;
    text-align: center;

    .icon {
      position: relative;
      z-index: 2;
    }
  }
}

.tf-cart-sold {
  margin-bottom: 16px;
}

.wg-testimonial {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 15px;
  box-shadow: 0px 4px 8px 0px #0000000d;
  background-color: var(--white);
  border-radius: 8px;

  .entry_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }

  .entry_meta {
    display: flex;
    align-items: center;
    gap: 10px;

    .br-line {
      height: 14px;
      width: 1px;
      background-color: var(--gray-4);
    }
  }

  .content {
    display: grid;
    gap: 18px;
  }

  .box-title {
    .entry_name {
      margin-bottom: 2px;
    }

    .entry_meta {
      margin-bottom: 6px;
    }
  }

  .list-star {
    i {
      font-size: 14px;
    }
  }
}

.wg-testimonial {
  padding: 30px;
}

.file-delete {
  .remove {
    cursor: pointer;
  }
}

.my-account-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: sticky;
  top: 0;

  .my-account-nav-item {
    display: flex;
    width: 100%;
    border: 1px solid var(--gray-4);
    padding: 15px 20px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    position: relative;

    &:hover,
    &.active {
      background-color: var(--gray-5);
      color: var(--primary);
      border-color: var(--gray-5);
    }
  }
}

.parallax-style {
  border-radius: 8px;
  overflow: hidden;
  height: 300px;
}

.entry-privary {
  display: grid;
  gap: 30px;

  .wrap {
    display: grid;
    gap: 20px;

    .text-list {
      display: grid;
      gap: 10px;
    }
  }
}

.banner-image-product-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  height: 100%;
  border-radius: 8px;
  gap: 10px 0px;

  .img-item {
    width: 50%;
  }

  .content {
    display: grid;
    gap: 20px;
    width: 50%;
  }

  .box-title {
    display: grid;
    gap: 20px;
  }
}

.wg-product-view {
  position: relative;
  padding: 15px;
  border-radius: 8px;
  overflow: hidden;

  .image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
  }

  .content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
  }

  .name {
    font-size: 24px;
    line-height: 28px;
  }

  .sub {
    font-size: 12px;
    line-height: 14px;
  }

  .box-title {
    display: grid;
    gap: 8px;
  }

  .box-price {
    display: flex;
    gap: 6px;

    .text {
      padding-top: 7px;
      font-weight: 300;
      font-size: 10px;
      line-height: 13px;
    }

    .price {
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
    }
  }

  &.style-2 {
    .box-title {
      gap: 5px;
    }

    .box-price {
      gap: 2px;

      .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        padding-top: 5px;
      }
    }

    .content {
      height: 100%;
      justify-content: center;
    }
  }
}

.wg-product-view {
  padding: 16px 18px;
}

.tf-sw-categories {
  .swiper-slide {
    height: auto;

    > * {
      height: 100%;
    }
  }
}

.banner-product-3 {
  position: relative;
  max-width: 400px;
  width: 100%;
  height: 100%;

  .content {
    position: absolute;
    top: 20px;
    left: 15px;
    right: 15px;
  }

  .tag {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 3px solid var(--third-2);

    &.type-2 {
      border-bottom: 3px solid var(--primary);
    }
  }

  .box-title {
    display: grid;
    gap: 8px;
  }
}
