/* ---------------------------------------------------------
    * Name: shipazo - Multipurpose eCommerce
    * Version: 1.0.0
    * Author: Themesflat
    * Author URI: http://themesflat.com 

	* Abstracts variable
    
    * Reset css styles

    * Components

        * header
        * footer
        * tabs
        * button
        * form
        * drop down
        * carousel
        * box icon
        * hover
        * product
        * blog
        * accordion
        * zoom
        * shop
        * nice select
        
    * section

    * Responsive
 ------------------------------------------------------------------------------ */

/*--------- Abstracts variable ---------- */
@use "abstracts/index";

/*---------- Reset css styles ----------- */
@use "reset";

/*------------ Components ---------------- */
@use "component/index" as index2;

/*------------ sections ---------------- */
@use "sections";
/*-------------- Responsive ----------------- */
@use "responsive";
