// Setting
// Fonts are now loaded via next/font in layout.tsx for optimal performance
// Using CSS variables defined by next/font (--font-inter, --font-poppins)
$font-main: var(--font-inter),
"Inter",
sans-serif;
$font-2: var(--font-poppins),
"Poppins",
sans-serif;
$font-3: "MADE Outer";
$font-4: "UTM Banque";
$font-5: var(--font-inter),
"Inter",
sans-serif;
$fontIcon: "icomoon";

:root {
    // Color
    --white: #ffffff;
    --black: #000000;
    --text: #909090;
    --text-2: #505050;
    --text-3: #333333;
    --text-4: #40484E;
    --text-5: #2C3135;
    --text-7: #FDFEFE;
    --gray: #333e48;
    --gray-2: #73787d;
    --gray-4: #e1e1e1;
    --gray-5: #ebebeb;
    --gray-6: #f5f5f5;
    --primary: #ff3d3d;
    --primary-2: #D80027;
    --secondary: #004ec3;
    --third: #FCB500;
    --third-2: #FFE604;
    --third-3: #FFDC00;
    --third-4: #FFDF8B;
    --line: #e1e1e1;
    --line-2: #ececec;
    --line-3: #4f4f4f;
    --line-4: #BFC6CC;
    --bg: #fafafa;
    --bg-2: #F8F8F8;
    --bg-3: #F6F6F6;
    --price: #FFEAB6;
}