@use "../abstracts/mixin";

.news-item {
  display: grid;
  gap: 20px;

  .entry_meta {
    display: flex;
    align-items: center;
    gap: 14px;

    > * {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .entry_tag {
    padding: 4px 10px;
    border-radius: 3px;
    background-color: var(--white);
    position: absolute;
    bottom: 4px;
    left: 6px;
  }

  .content {
    display: grid;
    gap: 10px;
  }

  .entry_infor_news {
    display: grid;
    gap: 14px;
  }

  &.style-large {
    gap: 30px;
  }

  &.style-row {
    display: flex;
    align-items: flex-start;

    .entry_image {
      width: 40%;
    }

    .content {
      width: 65%;
    }
  }
}

.wg-pagination {
  @include mixin.flex(center, center);
  padding-top: 15px;
  border-top: 1px solid var(--gray-5);

  li {
    @include mixin.flex(center, center);
    width: 40px;
    height: 40px;

    i {
      font-size: 20px;
    }

    &.active {
      > * {
        color: var(--primary);
      }
    }
  }
}

.blog-sidebar {
  max-width: 284px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .sidebar-item {
    display: grid;
    gap: 16px;

    &.style-2 {
      border-radius: 8px 8px 10px 10px;
      border: 1px solid var(--gray-5);
      gap: 0px;

      .sb-title {
        padding: 13px 18px;
        background-color: var(--gray-6);
      }

      .sb-content {
        padding: 0px 18px;
      }
    }

    &:not(.style-2) {
      .sb-title {
        font-size: 16px;
        line-height: 18px;
      }
    }

    &.has-line-bt {
      padding-bottom: 24px;
      border-bottom: 1px solid var(--gray-5);
    }
  }

  .sb-category {
    a {
      @include mixin.flex(center, space-between);
      padding: 15px 0px;

      i {
        font-size: 10px;
      }
    }

    li {
      &:not(:last-child) {
        a {
          border-bottom: 1px solid var(--line-2);
          padding: 15px 0px 14px;
        }
      }
    }
  }

  .sb-recent {
    display: flex;
    flex-direction: column;
    gap: 18px;

    li {
      display: flex;
      gap: 10px;
      align-items: flex-start;

      .image {
        max-width: 112px;
        width: 100%;
        flex-shrink: 0;
      }

      &:not(:last-child) {
        padding-bottom: 19px;
        border-bottom: 1px solid var(--gray-5);
      }

      .date {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }

  .sb-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    a {
      padding: 9px 15px;
      border-radius: 999px;
      border: 1px solid var(--gray-5);
      @include mixin.transition3;

      &:hover {
        background-color: var(--gray);
        border-color: var(--gray);
        color: var(--white);
      }
    }
  }
}

.btn-sidebar-mb {
  position: fixed;
  top: 30%;
  left: 0;
  z-index: 50;

  button {
    width: 40px;
    height: 40px;
    border: 1px solid var(--black);
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 20px;
    }

    &:hover {
      background-color: var(--white);
      color: var(--black);
    }
  }

  &.right {
    left: unset;
    right: 0;
    transform: rotate(180deg);
  }
}

.s-blog-list {
  .blog-list-content {
    > .news-item {
      &:not(:first-of-type) {
        &:not(:last-of-type) {
          padding-bottom: 30px;
          border-bottom: 1px solid var(--gray-5);
        }
      }
    }

    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .blog-sidebar {
    flex-shrink: 0;
  }
}

.s-blog-detail {
  display: flex;
  align-items: flex-start;
  gap: 40px;

  .box-direction {
    display: flex;
    flex-direction: column;
    gap: 96px;
    max-width: 268px;
    width: 100%;

    &.sticky {
      position: sticky;
      top: 25%;
    }

    .bottom {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .content-blog {
    display: grid;
    gap: 30px;

    .main-content {
      display: grid;
      gap: 20px;
    }

    .box-title {
      display: grid;
      gap: 12px;
    }
  }

  .main-preview {
    padding-top: 50px;
    border-top: 1px solid var(--gray-5);
    display: grid;
    gap: 50px;

    > * {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  .entry_meta {
    display: flex;
    align-items: center;
    gap: 14px;

    > * {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .entry_image {
    img {
      width: 100%;
      object-fit: cover;
    }

    &.has-sub {
      display: grid;
      gap: 8px;
      text-align: center;
    }
  }
}

.comment-wrap {
  .author-wrap {
    display: flex;
    align-items: flex-start;
    gap: 14px;

    .wrap {
      display: grid;
      gap: 20px;
    }

    .rep-comment {
      .author-wrap {
        padding-top: 20px;
        border-top: 1px solid var(--gray-5);
      }
    }
  }

  .entry_meta {
    display: grid;
    gap: 2px;
  }

  .avt {
    max-width: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }

  .box-comment {
    display: grid;
    gap: 10px;
  }

  .comment-list {
    display: grid;
    gap: 40px;

    .author-wrap {
      &:not(:last-child) {
        padding-bottom: 40px;
        border-bottom: 1px solid var(--gray-5);
      }
    }
  }
}
