@use "../abstracts/mixin";
@use "../abstracts/variable";

form {
    position: relative;
    z-index: 30;

    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
        outline: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        border-radius: 10px;
        color: var(--black);
        overflow: hidden;
        border: 1px solid var(--gray-4);
        padding: 12px 10px 12px 14px;
        @include mixin.transition3;

        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: var(--gray-2);
        }

        &:focus {
            border-color: var(--primary);
        }

        &:hover {
            border-color: var(--primary);
        }

        &.type-fs-2 {
            font-size: 13px;
            line-height: 25px;

            &::placeholder {
                font-size: 13px;
                line-height: 25px;
            }
        }

        &.def {
            padding: 11px 10px 11px 14px;

        }
    }

    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        background-color: transparent;
        overflow: hidden;
        padding: 0;
    }

    textarea {
        height: 124px;
    }

    .cols {
        display: flex;
        gap: 20px;

        >* {
            width: 100%;
        }

        &.gap-17 {
            gap: 17px;
        }
    }

    .tf-select {
        position: relative;

        select {
            appearance: unset;
            border: unset;
            width: 100%;
            padding: 11px 24px;
            border-radius: 8px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            border: 1px solid var(--gray-4);
            @include mixin.transition3;
            cursor: pointer;

            &:hover,
            &:focus {
                border-color: var(--primary);
            }
        }

        &::after {
            position: absolute;
            content: "\e918";
            font-family: variable.$fontIcon;
            font-size: 14px;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            color: var(--gray-2);
        }
    }

    &.def {
        display: grid;
        gap: 20px;

        fieldset {
            label {
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
                margin-bottom: 6px;
            }
        }

        textarea {
            height: 130px;
        }
    }
}

button {
    @include mixin.transition3;
    border: unset;
}

.form-search-product {
    border: 2px solid var(--primary);
    border-radius: 100px;
    display: flex;
    gap: 15px;
    align-items: center;
    max-width: 760px;
    width: 100%;
    padding: 0px 22px;
    position: relative;

    fieldset {
        max-width: 500px;
        width: 100%;

        input {
            border: unset;
            border-radius: unset;
            padding: 8px 0px;
            font-size: 13px;
            line-height: 25px;

            &::placeholder {
                font-size: 13px;
                line-height: 25px;
            }
        }
    }

    .btn-submit-form {
        position: absolute;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: var(--primary);
        border: unset;
        color: var(--white);
        right: 5px;
        @include mixin.flex(center, center);

        &:hover {
            background-color: var(--gray);
        }
    }

    &.style-2 {
        border: 1px solid var(--gray-4);
        @include mixin.transition3;
        max-width: 716px;

        &:hover {
            border-color: var(--primary);
        }

        input {
            padding: 9px 0px;

        }
    }

    &.style-3 {
        border: 1px solid var(--gray-4);
        @include mixin.transition3;
        max-width: 760px;
        width: 100%;

        &:hover {
            border-color: var(--primary);
        }

        input {
            padding: 9px 0px;

        }
    }
}

.form-log {
    display: grid;
    gap: 18px;

    .form-content {
        display: grid;
        gap: 16px;
    }

    fieldset {
        label {
            margin-bottom: 6px;
        }
    }
}

.form-search {
    position: relative;

    .button-submit {
        display: flex;
        align-items: center;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

        i {
            color: var(--black);
            font-size: 20px;
            @include mixin.transition3;
        }

        &:hover {
            i {
                color: var(--primary);
            }
        }
    }
}

.form-search-2 {
    position: relative;
    max-width: 331px;
    width: 100%;

    fieldset {
        input {
            border-radius: unset;
            border-color: transparent;
            background-color: transparent;
            color: var(--white);
            padding-right: 80px;

            &::placeholder {
                color: var(--white);
            }

            &:focus {
                border-color: var(--white);
            }

            &:hover {
                border-color: var(--white);
            }
        }
    }

    .box-btn {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);

        button {
            display: flex;
            align-items: center;
            gap: 6px;
            color: var(--white);

            &:hover {
                color: var(--gray);
            }
        }
    }
}

.form-search-3 {
    fieldset {
        input {
            padding: 13px 40px 13px 14px;
        }
    }

    .button-submit {
        display: flex;
        align-items: center;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

        i {
            color: var(--black);
            font-size: 20px;
            @include mixin.transition3;
        }

        &:hover {
            i {
                color: var(--primary);
            }
        }
    }
}

.form-newsletter {
    .subscribe-content {
        display: flex;
        gap: 12px;
        align-items: center;

        input {
            border-radius: 1000px;
            padding: 10px 22px;
            border: unset;
        }
    }

    .subscribe-button {
        border-radius: 1000px;
    }
}

.form-add-comment {

    display: grid;
    gap: 16px;

    fieldset {
        display: flex;
        flex-direction: column;
        gap: 10px 20px;
    }

    label {
        font-size: 14px;
        line-height: 20px;
    }



    .btn-submit {
        margin: auto;
    }
}


.checkbox-item-wrap {
    position: relative;
    display: flex;
    align-items: center;

    label {
        cursor: pointer;
        position: relative;
        height: 24px;
        width: 24px;

        .checkbox-item {
            position: absolute;
            opacity: 0;
            left: 0;
            top: 50%;
            border-radius: 50%;
            transform: translate(0, -50%);

            &:checked {
                ~.btn-checkbox {
                    &:after {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                ~.btn-radio {
                    &:after {
                        display: block;
                    }
                }
            }
        }
    }

    .btn-checkbox {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 4px;
        width: 100%;
        height: 100%;
        background-color: var(--white);
        border: 1px solid var(--gray-4);

        &:after {
            font-family: variable.$fontIcon;
            position: absolute;
            content: "\e934";
            color: var(--gray);
            border-radius: 4px;
            font-size: 20px;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-color: var(--white);
            display: none;
        }
    }
}

.form-checkout-contact {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.radio-item {
    display: flex;
    align-items: center;
    gap: 5px;

    .tf-check-rounded {
        width: 20px;
        height: 20px;
        border-radius: 6px;
        border: 1px solid var(--gray-4);
        appearance: unset;
        position: relative;
        @include mixin.flex(center, center);

        &::after {
            content: "\e934";
            font-family: variable.$fontIcon;
            position: absolute;
            display: none;
        }

        &:checked::after {
            display: block;
        }

    }
}

.tf-check {
    position: relative;
    background: transparent;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    min-width: 16px;
    border: 1px solid var(--gray-4);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

    &:checked {
        border-color: var(--primary);

        &::before {
            opacity: 1;
            transform: scale(1);
        }
    }

    &::before {
        width: 10px;
        height: 10px;
        font-weight: 500;
        content: "";
        position: absolute;
        background-color: var(--primary);
        border-radius: 1px;
        opacity: 0;
        transform: scale(0);
        @include mixin.transition3;
    }
}

.form-filter-price {
    display: flex;
    gap: 12px;
    align-items: center;

    fieldset {

        input {
            box-shadow: 2px 2px 2px 0px #0000001A inset;
            border: 1px solid #E1E1E1;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            padding: 9px;
            border-radius: 3px;
        }
    }

    .cols {
        gap: 12px;
        align-items: center;
    }

    .br-line {
        width: 6px;
        height: 2px;
        background-color: var(--gray-4);
    }

    .btn-filter-price {
        border: 1px solid var(--gray-4);
        border-radius: 3px;
        padding: 6px 18px;
    }
}

.tf-dropdown-sort {
    // border-radius: 4px;
    // padding: 5px 8px;
    // min-width: 100px;
    // border: 2px solid var(--gray-4);
    // cursor: pointer;
    // -webkit-transition: all 0.3s ease;
    // -moz-transition: all 0.3s ease;
    // -ms-transition: all 0.3s ease;
    // -o-transition: all 0.3s ease;
    // transition: all 0.3s ease;

    .icon {
        font-size: 14px;
    }

    .btn-select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
    }

    .btn-select {
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dropdown-menu {
        // box-shadow: var(--shadow1);
        border: 1px solid var(--gray-5);
        min-width: 204px;
        padding: 15px 5px;
        border-radius: 0;
        max-height: 68vh;
        isolation: isolate;
        overscroll-behavior-y: contain;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            // background-color: var(--bg-scrollbar-track);
        }

        &::-webkit-scrollbar-thumb {
            // background: var(--bg-scrollbar-thumb);
            border-radius: 4px;
        }
    }

    .select-item {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        color: var(--secondary);
        padding: 0 15px;
        line-height: 30px;
        width: 100%;
        @include mixin.transition3;

        &.active {
            background-color: var(--gray-4);
            color: var(--black);
            padding: 0 15px !important;
            border: 0 !important;
        }

        &:hover {
            background-color: var(--gray-4);
            color: var(--black);
        }
    }

    &:hover {
        border-color: var(--black);
    }
}

.wd-form-address {
    padding: 32px;
    border: 1px solid var(--gray-4);
    border-radius: 16px;

    .form-content {
        display: grid;
        gap: 15px;
        margin-bottom: 20px;

        fieldset {
            label {
                margin-bottom: 6px;
            }
        }
    }

    .box-btn {
        display: flex;
        gap: 15px;
    }
}

.tf-cart-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.show-form-address,
.edit-form-address {
    display: none;
}

.edit-form-address {
    margin-top: 24px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

.form-account-details {
    .form-content {
        display: grid;
        gap: 20px;
    }
}