@use "../abstracts/mixin";

.modal {
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 5px;
  }
}

.offcanvas-backdrop {
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.6);
}

.offcanvas {
  z-index: 2001;
}

.modal-log {
  .modal-log-wrap {
    padding: 30px;
    display: grid;
    gap: 30px;
  }

  .modal-content {
    .icon-close {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      @include mixin.transition3;

      &:hover {
        color: var(--primary);
      }
    }
  }

  .orther-log {
    position: relative;

    .br-line {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    p {
      display: inline-block;
      padding: 0px 10px;
      background-color: var(--white);
      position: relative;
      z-index: 5;
    }
  }

  .list-log {
    display: flex;
    gap: 10px;

    > * {
      width: 100%;
    }
  }
}

.canvas-sidebar {
  .canvas-header {
    @include mixin.flex(center, space-between);
    padding: 15px;
    padding-bottom: 10px;
    position: relative;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: var(--dark);

    .icon-close-popup {
      font-size: 12px;
      height: 32px;
      width: 32px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 15px;
      right: 15px;
      height: 1px;
      background-color: var(--line);
    }
  }

  .canvas-body {
    overscroll-behavior-y: contain;
    overflow-y: auto;
    height: 100vh;
    padding: 15px 20px;
    background-color: var(--white);
    max-width: unset;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary);
      border-radius: 5px;
      cursor: grab;
    }
  }
}

.gridLayout-wrapper {
  position: relative;
  min-height: 300px;

  &.loading {
    &::after {
      content: "";
      position: absolute;
      top: 10%;
      left: 50%;
      width: 40px;
      height: 40px;
      border: 3px solid rgba(0, 0, 0, 0.2);
      border-top-color: #000;
      border-radius: 50%;
      animation: spin 0.3s linear infinite;
      transform: translate(-50%, -50%);
      z-index: 10000;
    }
  }
}

.canvas-filter-product {
  background-color: var(--white);

  .canvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-bottom: 10px;
    position: relative;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    box-shadow: 0px -5px 18px 5px #40485726;
  }

  .canvas-wrapper {
    padding: 0;
    isolation: isolate;
    height: 100%;
    width: 100%;
    max-height: none;
    display: grid;
    grid-auto-rows: auto minmax(0, 1fr) auto;
    align-content: start;
  }

  .canvas-body {
    height: unset;
  }

  .canvas-bottom {
    box-shadow: 0px 5px 18px 5px #40485726;
    padding: 15px;
    background-color: var(--white);
  }
}

.popup-style {
  z-index: 3000;
  border: 0;

  .popup-wrapper {
    padding: 0;
    isolation: isolate;
    height: 100%;
    width: 100%;
    max-height: none;
    display: grid;
    grid-auto-rows: auto minmax(0, 1fr) auto;
    align-content: start;
  }

  .icon-close-popup {
    cursor: pointer;
  }

  .popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0px 20px;
    border-bottom: 1px solid var(--gray-4);
  }

  .popup-body {
    overscroll-behavior-y: contain;
    overflow-y: auto;
    padding: 20px;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary);
      border-radius: 5px;
      cursor: grab;
    }
  }

  .popup-footer {
    padding: 20px 20px 30px 20px;
  }
}

.popup-shopping-cart {
  .popup-footer {
    box-shadow: 0px 5px 13px 5px #40485726;
    display: grid;
    gap: 15px;
  }

  .cart-total {
    @include mixin.flex(center, space-between);
  }

  .box-btn {
    display: flex;
    gap: 10px;
    width: 100%;

    > * {
      width: 100%;
    }
  }

  .card-product {
    flex-direction: row !important;

    .card-product-wrapper {
      max-width: 122px !important;
      flex-shrink: 0;
    }
  }
}

.minicart-empty {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.modal-def {
  .icon-close-popup {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    z-index: 5;
    padding: 10px;
  }

  .modal-content {
    border-radius: 8px;
    overflow: hidden;
  }
}

.modal-quick-view {
  .modal-dialog {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-content {
    display: flex;
  }

  .quickview-image {
    padding: 15px;

    .tf-image-view {
      aspect-ratio: 450/500;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .quickview-info-wrap {
    flex: 0 0 auto;
    max-width: 100%;
    flex-grow: 1;
    position: relative;
    margin: 0;
  }

  .quickview-info-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary);
      border-radius: 5px;
    }
  }

  .box-quantity-wrap {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .info-short-decs {
    .title-decs {
      margin-bottom: 10px;
    }

    > ul {
      li {
        position: relative;
        padding-left: 13px;

        &::after {
          content: "";
          left: 0;
          top: 9px;
          position: absolute;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: var(--black);
        }

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }

  .quickview-heading {
    display: grid;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--gray-5);
  }
}

.tf-single-slide {
  .item {
    aspect-ratio: 540/650;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.offcanvas-compare {
  z-index: 2001;
  height: auto !important;
  overflow: auto;

  .icon-close-popup {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 16px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border-radius: 50%;
    cursor: pointer;
  }

  .tf-compare-list {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0px;
  }

  .tf-compare-wrap {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: auto hidden;
    gap: 48px;
    padding: 24px 0;
    margin: -24px 0;
    padding-right: 20px;
    margin-right: -20px;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      height: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary);
      border-radius: 3px;
    }
  }

  .tf-compare-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 220px;
    flex-shrink: 0;
  }

  .tf-compare-item {
    width: 263px;
    flex-shrink: 0;
    position: relative;
    padding: 11px;
    border-radius: 12px;
    border: 1px solid var(--gray-4);
    display: flex;
    align-items: center;
    gap: 16px;

    .image {
      aspect-ratio: 92/123;
      flex-shrink: 0;
      border-radius: 8px;
      overflow: hidden;
      max-width: 92px;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .icon-close {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      background-color: var(--primary);
      border-radius: 50%;
      font-size: 12px;
      color: var(--white);
      z-index: 5;
      cursor: pointer;
      @include mixin.transition3;

      &:hover {
        background-color: var(--gray-2);
      }
    }

    > .btns-repeat {
      position: absolute;
      top: 50%;
      right: -32px;
      transform: translateY(-50%);
      display: flex;
      cursor: pointer;
    }

    .content {
      display: grid;
      gap: 15px;
    }

    &:last-child {
      > .btns-repeat {
        display: none;
      }
    }
  }

  .tf-compare-btn {
    display: grid;
    gap: 15px;
  }

  .tf-compapre-button-clear-all {
    cursor: pointer;
  }
}

.modal-newleter {
  .modal-dialog {
    transform: unset !important;
  }

  .modal-content {
    padding: 20px;
    display: grid;
    gap: 20px;
  }

  .heading {
    display: grid;
    gap: 15px;
  }

  .form-sub {
    display: grid;
    gap: 15px;
  }
}

.modalDemo {
  .modal-dialog {
    max-width: 1540px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: calc(100vh - 16px);
  }

  .modal-content {
    padding: 0 50px 40px;
    background-color: var(--white);
    width: 100%;
    border-radius: 20px;
    margin: 0 15px;
    max-height: calc(100vh - 60px);
    border: 0;
    cursor: default;
    overflow: hidden;
  }

  .demo-title {
    margin-top: 50px;
    margin-bottom: 44px;
  }

  .icon-close-popup {
    position: absolute;
    top: 18px;
    right: 18px;
  }

  .demo-menu-list {
    padding: 0 32px;
    overscroll-behavior-y: contain;
    overflow-y: auto;
    height: max-content;
  }

  .row-demo {
    grid-template-columns: repeat(5, 1fr);
  }
}

.tf-toolbar-bottom {
  display: flex;
  padding: 11px 15px 12px;
  position: fixed;
  z-index: 200;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid #eeeeee;
  background-color: var(--white);
  box-shadow: 0px 4px 20px 0px #a3a3a347;

  .toolbar-item {
    width: 100%;
    position: relative;

    a {
      width: 100%;
      padding-right: 10px;
      padding-left: 10px;
      gap: 5px;
      @include mixin.flex(center, center);
      flex-direction: column;

      .toolbar-icon {
        width: 20px;
        height: 20px;
        position: relative;
      }

      .toolbar-count {
        position: absolute;
        top: -4px;
        right: -8px;
        width: 16px;
        height: 16px;
        @include mixin.flex(center, center);
        background-color: var(--primary);
        border-radius: 50%;
        font-size: 8px;
        font-weight: 500;
        line-height: 15px;
        color: var(--white);
      }

      .toolbar-label {
        font-size: 13px;
        // font-weight: 500;
        line-height: 18px;
      }
    }

    &.active {
    }
  }
}

.offcanvas-search {
  height: 100vh !important;

  .icon-close-popup {
    padding: 10px;
    background-color: white;
  }

  .offcanvas-content {
    overflow-y: auto;
    padding: 50px 0;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary);
      border-radius: 5px;
      cursor: grab;
    }
  }

  .popup-header {
    position: fixed;
    padding: 8px 15px;
    display: flex;
    justify-content: flex-end;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
  }

  .popular-searches {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 20px;

    ul {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;

      a {
        padding: 9px 19px;
        border-radius: 10px;
        background-color: #f9f9f9;
        border: 1px solid #a1a1a133;
      }
    }
  }
}

.looking-for-wrap {
  display: grid;
  gap: 24px;
  margin-bottom: 30px;
}
