@use "../abstracts/mixin";
@use "../abstracts/variable";

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
  left: auto;
  right: 0;
}

.noUi-vertical .noUi-origin {
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  position: absolute;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -17px;
  left: auto;
}

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
  cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

.noUi-marker {
  position: absolute;
  background: #ccc;
}

.noUi-marker-sub {
  background: #aaa;
}

.noUi-marker-large {
  background: #aaa;
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%, 0);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal {
  height: 4px;
}

.noUi-target {
  border: 0;
}

.noUi-base {
  .noUi-connects {
    border-radius: 999px;
    background-color: var(--gray-5);
  }
}

.noUi-connect {
  background-color: var(--black);
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
  height: 16px;
  width: 16px;
  border-radius: 50px;
  border: 2px solid var(--black);
  background-color: var(--gray-4);
  box-shadow: unset;
  cursor: pointer;
  @include mixin.transition3;

  &::before,
  &::after {
    content: none;
  }

  &.noUi-active {
    height: 20px;
    width: 20px;
    top: -8px;
  }
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -8px;
}

.tf-table-page-cart {
  border-spacing: 0;
  border-collapse: collapse;
  width: 1024px;

  thead {
    border-top: 1px solid var(--gray-5);
    border-bottom: 1px solid var(--gray-5);
  }

  th {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    padding: 20px 0px;

    &:first-child {
      padding: 20px 0px 20px 25px;
    }

    &:last-child {
      padding: 20px 25px 20px 0px;
    }
  }

  tr {
    > * {
      width: 200px;

      &:first-child {
        width: 400px;
      }

      &:last-child {
        width: 100px;
      }
    }
  }

  .tf-cart-item_product {
    display: flex;
    gap: 12px;
  }

  .img-box {
    max-width: 80px;
    height: 80px;
    width: 100%;
  }

  .cart-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .variant-box {
    display: flex;
    align-items: center;
  }

  .tf-select {
    position: relative;

    select {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--gray-2);
      border: unset;
      appearance: none;
      cursor: pointer;
      padding: 0px 4px 0px 2px;
    }

    &::after {
      position: absolute;
    }
  }

  .remove {
    cursor: pointer;
  }

  .tf-cart-item {
    border-bottom: 1px solid var(--gray-5);

    td {
      padding-right: 25px;

      &:first-child,
      &:last-child {
        padding: 25px;
      }
    }
  }
}

.ip-discount-code {
  max-width: 466px;
  width: 100%;
  position: relative;

  input {
    border-radius: 8px !important;
  }

  .tf-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 10px 31.5px;
    border-radius: 0px 8px 8px 0px;
  }

  &.style-2 {
    display: flex;
    gap: 6px;

    .tf-btn {
      position: relative;
      border-radius: 8px;
      width: 100%;
      max-width: 122px;
    }
  }
}

.tf-checkout-wrap {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;

  .page-checkout {
    width: 100%;
  }
}

.payment-box {
  display: grid;
  gap: 20px;
  margin-bottom: 40px;
}

.payment-choose-card {
  .payment-header {
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    @include mixin.transition3;

    &.collapsed {
      margin-bottom: 0px;

      .select-payment {
        &::after {
          transform: translateY(-50%) rotate(0deg);
        }
      }
    }
  }

  .title {
    margin-bottom: 6px;
    display: block;
  }

  .select-payment {
    display: block;
    padding: 11px 14px;
    border-radius: 8px;
    border: 1px solid var(--gray-4);
    width: 100%;
    position: relative;
    @include mixin.transition3;

    &::after {
      position: absolute;
      content: "\e918";
      font-family: variable.$fontIcon;
      color: var(--gray-2);
      font-size: 16px;
      right: 14px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      @include mixin.transition3;
    }

    &:hover {
      border-color: var(--primary);
    }
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }

  .payment-body {
    display: grid;
    gap: 20px;
    padding: 30px;
    box-shadow: 0px 4px 8px 0px #0000000d;
  }
}

.flat-sidebar-checkout {
  width: 100%;
  position: sticky;
  top: 90px;
  padding: 15px;
  box-shadow: 0px 4px 8px 0px #0000000d;
  background-color: var(--white);

  .sub-type {
    margin-bottom: 6px;
  }

  .sidebar-checkout-content {
    display: grid;
    gap: 20px;
  }

  .list-product {
    display: grid;
    gap: 20px;
  }

  .item-product {
    display: flex;
    align-items: flex-start;
    gap: 12px;

    .img-product {
      max-width: 122px;
      width: 100%;
    }

    .content-box {
      display: grid;
      gap: 10px;
    }
  }

  .sec-total-price {
    li {
      border-top: 1px solid var(--gray-5);
      @include mixin.flex(center, space-between);
      padding: 10px 0px;

      &:last-child {
        padding-bottom: 0px;
      }
    }
  }
}

.facet-categories {
  border-radius: 10px;
  border: 1px solid var(--gray-5);
  margin-bottom: 24px;

  .title {
    padding: 13px 18px;
    background-color: var(--gray-6);
  }

  ul {
    padding: 0px 18px;

    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      @include mixin.flex(center, space-between);
      padding: 15px 0px;
      position: relative;

      &::after {
        content: none;
        position: absolute;
        bottom: 0;
        left: auto;
        right: 0;
        width: 0%;
        height: 1px;
        @include mixin.transition3;
        background-color: var(--primary);
      }

      &:hover,
      &.active {
        color: var(--primary);
      }
    }

    li {
      &:not(:last-child) {
        a {
          border-bottom: 1px solid var(--gray-5-2);

          &:hover,
          &.active {
            &::after {
              width: 100%;
              left: 0;
              right: auto;
            }
          }
        }
      }
    }
  }
}

.btn-loadmore {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--secondary);
  @include mixin.transition3;
  margin-top: 16px;

  &:hover {
    color: var(--primary);
  }
}

.widget-facet {
  .facet-title {
    margin-bottom: 16px;
  }

  .box-fieldset-item {
    display: grid;
    gap: 10px;
  }

  .fieldset-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &:not(:last-child) {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--gray-5);
  }
}

.facet-price {
  .box-fieldset-item {
    margin-bottom: 10px;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }
}

.facet-vote {
  .fieldset-item {
    label {
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }
}

.meta-filter-shop {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;

  .count-text {
    font-size: 12px;
    line-height: 22px;
    color: var(--text);
    padding-right: 12px;
    position: relative;

    &::after {
      position: absolute;
      top: 4px;
      bottom: 4px;
      right: 0;
      width: 1px;
      display: block;
      content: "";
      background-color: #d9d9d9;
    }

    .count {
      color: var(--black);
      display: inline-block;
      margin-right: 2px;
    }
  }

  #applied-filters {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  .filter-tag {
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 12px;
    border: 1px solid var(--gray-5);
    border-radius: 1000px;
    @include mixin.transition3;
    cursor: pointer;

    .remove-tag {
      font-size: 12px;
      width: 20px;
      height: 20px;
      @include mixin.flex(center, center);
    }

    &:hover {
      border-color: var(--black);
    }
  }

  .color-tag {
    gap: 8px;

    .color {
      width: 20px;
      height: 20px;
      display: block;
      border-radius: 1000px;
    }
  }

  .remove-all-filters {
    padding: 4px 12px;
    border: 1px solid var(--black);
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background-color: var(--black);
    color: var(--white);

    .icon {
      font-size: 12px;
    }

    &:hover {
      background-color: transparent;
      color: var(--black);
    }
  }
}

.overlay-filter {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  @include mixin.hidden;
  @include mixin.transition3;

  &.show {
    @include mixin.visible;
  }
}
